name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup Node.js for use with actions
        uses: actions/setup-node@v1.1.0
        with:
          # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0, lts
          version: 13.0.0
          # Optional registry to set up for auth. Will set the registry in a project level .npmrc and .yarnrc file, and set up auth to read in from env.NODE_AUTH_TOKEN
          registry-url: https://npm.pkg.github.com
          # Optional scope for authenticating against scoped registries
          scope: # optional
    - run: npm install
    - run: npm run build
    - name: Semantic Release Action
        uses: codfish/semantic-release-action@v1
        with:
          branch: master
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
