name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1.1.0
      with:
        # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0, lts
        version: 13.x
        # Optional registry to set up for auth. Will set the registry in a project level .npmrc and .yarnrc file, and set up auth to read in from env.NODE_AUTH_TOKEN
        registry-url: https://npm.pkg.github.com
    - run: npm install
    - run: npm run build
    - run: npm run release
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        NPM_TOKEN: ${{ secrets.GH_TOKEN }}
    - run: sed -i 's/npm.pkg.github.com/registry.npmjs.org/g' package.json
    - run: npm publish
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}