name: Daily Automated Release

on:
  repository_dispatch:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '* 23 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0, lts
        version: 13.x
    - name: cache node_modules
      uses: actions/cache@v1
      with:
        path: node_modules
        key: node_modules-${{ hashFiles('package-lock.json') }}
    - run: npm install
    - run: npm run build
    - run: npm run release
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}